<h1>Angular Material Workspace</h1>

<section>
  <h2>First section: Inputs</h2>
  <hr>

  <h3>Basic Inputs</h3>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form>
  <br>

  <h3>Input with a custom ErrorStateMatcher</h3>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
             placeholder="Ex. pat@example.com">
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
  <br>

  <h3>Auto-resizing textarea</h3>
  <mat-form-field>
    <mat-label>Font size</mat-label>
    <mat-select #fontSize value="16px" (selectionChange)="triggerResize()">
      <mat-option value="10px">10px</mat-option>
      <mat-option value="12px">12px</mat-option>
      <mat-option value="14px">14px</mat-option>
      <mat-option value="16px">16px</mat-option>
      <mat-option value="18px">18px</mat-option>
      <mat-option value="20px">20px</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field [style.fontSize]="fontSize.value">
    <mat-label>Autosize textarea</mat-label>
    <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>
  <br>

  <h3>Input with a clear button</h3>
  <mat-form-field class="example-form-field">
    <mat-label>Clearable input</mat-label>
    <input matInput type="text" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <br>

  <h3>Inputs in a form</h3>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Company (disabled)</mat-label>
      <input matInput disabled value="Google">
    </mat-form-field>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Long Last Name That Will Be Truncated</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>

    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Address 2</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input matInput placeholder="Ex. San Francisco">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>State</mat-label>
        <input matInput placeholder="Ex. California">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Postal Code</mat-label>
        <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field></td>
    </tr></table>
  </form>
  <br>

  <h3>Input with hints</h3>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Message</mat-label>
      <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
      <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
  </form>
  <br>

  <h3>Inputs with prefixes and suffixes</h3>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Telephone</mat-label>
      <span matPrefix>+1 &nbsp;</span>
      <input type="tel" matInput placeholder="555-555-1234">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
  </form>
</section>

<br>

<section>
  <h2>Second section: Buttons</h2>
  <hr>

  <h3>Basic buttons</h3>

  <h3>Rectangular text button w/ no elevation</h3>
  <button mat-button>Click me!</button>
  <br>

  <h3>Rectangular contained button w/ elevation</h3>
  <button mat-raised-button>Click me!</button>
  <br>

  <h3>Rectangular contained button w/ no elevation</h3>
  <button mat-flat-button>Click me!</button>
  <br>

  <h3>Rectangular outlined button w/ no elevation</h3>
  <button mat-stroked-button>Click me!</button>
  <br>

  <h3>Circular button with a transparent background, meant to contain an icon</h3>
  <button mat-icon-button>Click me!</button>
  <br>

  <h3>Circular button w/ elevation, defaults to theme's accent color</h3>
  <button mat-fab>Click me!</button>
  <br>

  <h3>Same as mat-fab but smaller</h3>
  <button mat-mini-fab>CM!</button>
  <br>

  <h3>Theming</h3>
  <button mat-button color="accent">Click me accent!</button>
  <br>
  <button mat-button color="primary">Click me primary!</button>
  <br>
  <button mat-button color="warn">Click me warn!</button>
  <br>

</section>

<br>

<section>
  <h2>Third section: Cards</h2>
  <hr>

  <h3>Basic cards</h3>
  <mat-card style="width: 50%; height: 75%">Simple card</mat-card>
  <br>

  <h3>Basic cards sections</h3>
  <mat-card style="width: 50%; height: 75%">
    Simple card section
    <mat-card-title>	Card title </mat-card-title>
    <mat-card-subtitle>	Card subtitle </mat-card-subtitle>
    <mat-card-content>	Primary card content. Intended for blocks of text </mat-card-content>
    <img mat-card-image src="../assets/kushki_logo.png"/>
    Card image. Stretches the image to the container width
    <mat-card-actions>
      <button mat-mini-fab>A</button>
    </mat-card-actions>
    Container for buttons at the bottom of the card
    <mat-card-footer>	Section anchored to the bottom of the card</mat-card-footer>

  </mat-card>
  <br>

</section>

<br>

<section>
  <h2>Fourth section: Grid list</h2>
  <hr>

  <h3>Basic grid-list</h3>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile style="background-color: blanchedalmond">1</mat-grid-tile>
    <mat-grid-tile style="background-color: burlywood">2</mat-grid-tile>
    <mat-grid-tile style="background-color: coral">3</mat-grid-tile>
    <mat-grid-tile style="background-color: darkseagreen">4</mat-grid-tile>
  </mat-grid-list>
  <br>

  <h3>Setting the number of columns</h3>
  <h3>cols=1</h3>
  <mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile style="background-color: blanchedalmond">1</mat-grid-tile>
    <mat-grid-tile style="background-color: burlywood">2</mat-grid-tile>
  </mat-grid-list>
  <br>

  <h3>cols=2</h3>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile style="background-color: blanchedalmond">1</mat-grid-tile>
    <mat-grid-tile style="background-color: burlywood">2</mat-grid-tile>
    <mat-grid-tile style="background-color: coral">3</mat-grid-tile>
    <mat-grid-tile style="background-color: darkseagreen">4</mat-grid-tile>
  </mat-grid-list>
  <br>

  <h3>cols=3</h3>
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile style="background-color: blanchedalmond">1</mat-grid-tile>
    <mat-grid-tile style="background-color: burlywood">2</mat-grid-tile>
    <mat-grid-tile style="background-color: coral">3</mat-grid-tile>
    <mat-grid-tile style="background-color: darkseagreen">4</mat-grid-tile>
  </mat-grid-list>
  <br>

  <h3>Setting the row height</h3>
  <h3>Fixed height</h3>
  <mat-grid-list cols="4" rowHeight="20px">
    <mat-grid-tile style="background-color: blanchedalmond">1</mat-grid-tile>
    <mat-grid-tile style="background-color: burlywood">2</mat-grid-tile>
  </mat-grid-list>
  <br>

  <h3>Ratio</h3>
  <mat-grid-list cols="4" rowHeight="4:3">
    <mat-grid-tile style="background-color: blanchedalmond">1</mat-grid-tile>
    <mat-grid-tile style="background-color: burlywood">2</mat-grid-tile>
  </mat-grid-list>
  <br>

  <h3>Setting the gutter size</h3>
  <mat-grid-list cols="4" rowHeight="4:3" gutterSize="50px">
    <mat-grid-tile style="background-color: blanchedalmond">1</mat-grid-tile>
    <mat-grid-tile style="background-color: burlywood">2</mat-grid-tile>
  </mat-grid-list>
  <br>
  <br>
</section>
